<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="GMDataCenterConnectionString" connectionString="Data Source=172.10.1.104;Initial Catalog=GMDataCenter;User ID=sa;Password=gmt0ur@db"
      providerName="System.Data.SqlClient" />
    <add name="ticketvendorConnectionString" connectionString="Data Source=172.10.1.104;Initial Catalog=ticketvendor;User ID=sa;Password=gmt0ur@db"
      providerName="System.Data.SqlClient" />
    <add name="webfares2011ConnectionString" connectionString="Data Source=172.10.1.104;Initial Catalog=webfares2011;User ID=sa;Password=gmt0ur@db"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <globalization enableClientBasedCulture="true" culture="en-US" uiCulture="th-TH" />
    <pages enableEventValidation="false" viewStateEncryptionMode="Never" enableViewStateMac="false" maxPageStateFieldLength="1000" validateRequest="false" enableSessionState="true"><controls>
        
      </controls></pages>
    <sessionState timeout="360" ></sessionState>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Rewrite Post to Default.aspx">
          <match url="^post/([_0-9a-z-]+)(?!css)" />          
          <action type="Rewrite" url="Default.aspx?request={R:0}" />          
          <conditions logicalGrouping="MatchAny">
            <add input="{REQUEST_FILENAME}" pattern="(\.css|\.js|\.jpg|\.png|\.gif)$" negate="true" />
          </conditions>
        </rule>
        <rule name="Rewrite Preview to Default.aspx">
          <match url="^preview/([_0-9a-z-]+)(?!css)" />          
          <action type="Rewrite" url="Default.aspx?request={R:0}" />          
          <conditions logicalGrouping="MatchAny">
            <add input="{REQUEST_FILENAME}" pattern="(\.css|\.js|\.jpg|\.png|\.gif)$" negate="true" />
          </conditions>
        </rule>
        <rule name="Rewrite Category to Default.aspx">
          <match url="^category/([_0-9a-z-]+)(?!css)" />
          <action type="Rewrite" url="Default.aspx?request={R:0}" />
          <conditions logicalGrouping="MatchAny">
            <add input="{REQUEST_FILENAME}" pattern="(\.css|\.js|\.jpg|\.png|\.gif)$" negate="true" />
          </conditions>
        </rule>
        <rule name="Rewrite to Message.aspx">
          <match url="^message/([_0-9a-z-]+)(?!css)" />
          <action type="Rewrite" url="Management/Message.aspx?message={R:1}" />
          <conditions logicalGrouping="MatchAny">
            <add input="{REQUEST_FILENAME}" pattern="(\.css|\.js|\.jpg|\.png|\.gif)$" negate="true" />
          </conditions>
        </rule>
        <rule name="Rewrite Search to Default.aspx">
          <match url="^search/(.*)(?!css)" />
          <action type="Rewrite" url="Default.aspx?search={R:0}" />
          <conditions logicalGrouping="MatchAny">
            <add input="{REQUEST_FILENAME}" pattern="(\.css|\.js|\.jpg|\.png|\.gif)$" negate="true" />
          </conditions>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>